<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Página Principal</title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h2 class="text-center">Bienvenido a Apuestas Deportivas</h2>
  <p class="lead text-center">
    Este es un sitio web de apuestas deportivas donde puedes registrarte, ver a otros usuarios y participar en diversas actividades de apuestas.
  </p>

  <!-- Botón para ir a la página de inicio de sesión -->
  <div class="text-center">
    <a th:href="@{/login}" class="btn btn-primary mt-3">Iniciar Sesión</a>
  </div>
</div>
</body>
</html>
